DIGIKEY_CLIENT_ID=
DIGIKEY_CLIENT_SECRET=
AI_PROVIDER=mock
ENABLE_AI_EVALUATION=false
AI_EVALUATION_DELAY_MS=3500
INTERNAL_COPILOT_URL=
INTERNAL_COPILOT_CLIENT_ID=
INTERNAL_COPILOT_SCOPE=
EXTERNAL_AI_BASE_URL=
EXTERNAL_AI_API_KEY=
EXTERNAL_AI_MODEL=
